.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
  }

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    bottom: -15px;
    left: 0;
    border-top: #FFFFFF solid 2px;
    border-bottom: #FFFFFF solid 2px;
    transition: 0.3s;
    transform: scaleX(0);
  }

  &:hover:before {
    transform: scale(1);
  }
}