.logo {
  width: 145px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 31px;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &:after, &:before {
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #FFFFFF;
  }

  &:after {
    bottom: -15px;
  }

  &:before {
    top: -15px;
  }
}