.logo {
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFE300;
  }
}