.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  min-height: 250px;
  width: 500px;
  background-color: #021414;

  @media (max-width: 1150px) {
    width: 100%;
  }

  .my-slider {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .slide {
      width: 80px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      h2 {
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        color: #FFE300;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
